*{
    margin: 0;
    padding: 0;
}



.wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
    align-items: center;
}


.fundo{
  width: 1200px;
  height: 1200px;
  border-style: solid;
  border-color: black;
  background-image: url("../img/fundo3.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}



.anima-galinha{
  width: 80px;
  height: 80px;
   top:550px; /* 1120px */
  left: 20px;
  position: relative;
  animation: anima-galinha2 12s  infinite, anima-galinha 1s steps(6) infinite;
}



@keyframes anima-galinha {
  from { background-position: 0px; }
  to { background-position: -480px;}

  
}

@keyframes anima-galinha2{
  0%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 20px;
  }
  5%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 160px;

  }10%{
    background: url("../img/galineas3.png") -5px 0px no-repeat;
    top:530px; /* 1120px */
    left: 210px;
  }15%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 250px;
  }20%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 880px;
  }25%{
    background: url("../img/galinea4.png") -5px 0px no-repeat;
    top:400px; /* 1120px */
    left: 880px;
  }30%{
    background: url("../img/galinea4.png") -5px 0px no-repeat;
    top:290px; /* 1120px */
    left: 990px;
    z-index: 1;

  }35%{
    background: url("../img/galinea4.png") -5px 0px no-repeat;
    top:210px; /* 1120px */
    left: 990px;
    z-index: -1;
  }40%{
    background: url("../img/galineas5.png") -5px 0px no-repeat;
    top:320px; /* 1120px */
    left: 990px;
    z-index: 1;

  }45%{
    background: url("../img/galineas5.png") -5px 0px no-repeat;
    top:380px; /* 1120px */
    left: 910px;
    z-index: 1;

  }50%{
    background: url("../img/galineas5.png") -5px 0px no-repeat;
    top:600px; /* 1120px */
    left: 820px;
    z-index: 1;

  }55%{
    background: url("../img/galineas5.png") -5px 0px no-repeat;
    top:980px; /* 1120px */
    left: 820px;
    z-index: 1;

  }60%{
    background: url("../img/galineas5.png") -5px 0px no-repeat;
    top:980px; /* 1120px */
    left: 350px;
    z-index: 1;

  }65%{
    background: url("../img/galinea4.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 350px;
    z-index: 1;

  }70%{
    background: url("../img/galineas6.png") -5px 0px no-repeat; 
    top:530px; /* 1120px */
    left: 210px;
  }75%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 40px;
  }80%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 20px;
  }100%{
    background: url("../img/galineas1.png") -5px 0px no-repeat;
    top:550px; /* 1120px */
    left: 20px;
  }
}


